body {
    background-image: url("icons/pexels-valdemaras-d-2273642.jpg");
    width: 100vw;
    margin: auto;
}

h1 {
    font-size: 45px;
    color: navy;
}

.hidden {
    display: none;
}

.select-label {
    font-size: 23px;
    font-weight: 600;
    color: black;
}

.main-text {
    font-style: italic;
    font-weight: 550;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color: darkblue;
    margin-bottom: 100px;

}

.checkFish {
    display: inline-block;
    font-size: 15px;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: blue;
    text-align: center;
    transition: all 0.2s;
}

.checkFish:hover {
    font-size: 20px;
    color: blue;
    background-color: #ffffff;
    cursor: pointer;
}


@media all and (max-width: 30em) {
    .checkFish {
        display: block;
        margin: 0.4em auto;
    }

    .backbutton {
        display: block;
        margin: 0.4em auto;
    }
}

.backbutton {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #ffffff;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: #ffffff;
    background-color: blue;
    text-align: center;
    transition: all 0.2s;
}

.backbutton:hover {
    color: rgb(87, 87, 224);
    background-color: #ffffff;
}

#to_replace.alertMessage {
    color: red;
}


#to_replace {
    color: darkblue;
}

#number_people {
    color: #1a53ff;
}

/* stephen start */
.body-container {
    margin: 100px;
}

/* Map */
.map-container {
    margin: 50px;
}

#map {
    width: 60vw;
    body: center;
}

.text-container {
    margin: 100px;
    padding: 20px;
    background-color: rgba(125, 125, 219, 0.4);
    outline: 1px solid;
}

.select-box {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.answer-part {
    font-size: 25px;
}